.clarify-main {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    overflow-y: auto; 
    padding: 2vw;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    backdrop-filter: blur(0px);
    background: rgba(0, 0, 0, 0);
    transition: opacity 300ms, backdrop-filter 300ms, transform 300ms;
    /* transform: scale(0.5); */
    transform: none;
    pointer-events: none;
    z-index: 2;
    scrollbar-gutter: stable;

    @media (max-width: 1024px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        display: grid;
        place-items: center;
        padding: 5vw 0vw;
        z-index: 10;
    }
}

.clarify-main.visible {
    opacity: 1;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    /* transform: scale(1); */
    transform: none;
    pointer-events: auto;
}

.clarify-content {
    position: relative;
    background-color: var(--blck-bc);
    flex-direction: column;
    padding: 1vw 1.25vw 2vw 1.25vw;
    border-radius: 2vw;
    width: 50%;
    transition: 300ms filter;
    pointer-events: auto;
    justify-content: flex-start;
    display: inline-flex;
    text-align: left;
    margin: 0 auto;
    max-height: none;
    transform: scale(0.5);
    transition: transform 300ms;

    @media (max-width: 1024px) {
        position: relative;
        width: 90%;
        margin-bottom: auto;
        margin-top: auto;
    }
}

.clarify-main.visible .clarify-content {
    transform: scale(1);
}

.clarify-saving {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;

    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms, backdrop-filter 300ms, background-color 300ms;
}

.clarify-saving.visible {
    opacity: 1;
    pointer-events: auto;

    background-color: rgba(0,0,0,0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.--saving{
    z-index: 10;
    background: transparent;
    padding: 1vw 2vw;
    border-radius: 1vw;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.clarify-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1vw;

    @media (max-width: 1024px) {
        padding: 1vw 1vw 0vw;
    }
}

.clarify-top-title {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
}

.clarify-title {
    margin: 0;
    padding: 1vw 1vw 1vw 0vw;
    font-size: 2vw;

    @media (max-width: 1024px) {
        font-size: 9vw;
    }
}

.clarify-save-icon {
    height: 2.5vw;
    width: 2.5vw;
    color: var(--blck-bc-fcs);
    animation: loading 1200ms ease-in-out infinite;
}

@keyframes loading {
  0% {
    color: var(--blck-bc-fcs);
  }
  50% {
    color: var(--def-white);
  }
  100% {
    color: var(--blck-bc-fcs);
  }
}

.clarify-loading-icon {
    height: 2.5vw;
    width: 2.5vw;
    color: var(--blck-bc-fcs);
    animation: spin 1000ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clarify-error-icon {
    height: 2.5vw;
    width: 2.5vw;
    color: var(--del-btn);
    cursor: pointer;
}

.clarify-close {
    border: 0.1vw solid transparent;
    transition: 500ms border;
    border-radius: 25%;
    padding: 0.5vw;

    @media (max-width: 1024px) {
        width: 8vw;
        height: 8vw;
    }
}

.clarify-close:focus,
.clarify-close:hover {
    border: 0.1vw solid var(--def-btn);
    outline: none;
}

.clarify-loading {
    text-transform: capitalize;
    font-size: 1.5vw;
    color: var(--blck-bc-fcs);
    display: flex;
    justify-content: center;
    padding-bottom: 1vw;
}

.--saving {
    background-color: var(--blck-bc-fcs);
    color: var(--blck-bc);
    padding: 2vw 3vw;
    border-radius: 30px;
}

.clarify-loading:after {
    content: '';
    animation: dots 1.2s steps(4, end) infinite;
}

@keyframes dots {
    0%   {content: '';}
    25%  {content: '.';}
    50%  {content: '..';}
    75%  {content: '...';}
}

.clarify-name {
    display: flex;
    flex-direction: column;
    padding-bottom: 1vw;

    @media (max-width: 1024px) {
        font-size: 6vw;
        padding-bottom: 4vw;
    }
}

.clarify-name-title {
    font-size: 1.5vw;
    padding-bottom: 1vw;

    @media (max-width: 1024px) {
        font-size: 7vw;
    }
}

.clarify-input {
    width: 100%;
    background-color: var(--blck-bc-hvr);
    color: var(--def-white);
    border: 0.1vw solid transparent;
    outline: none;
    padding: 1vw;
    border-radius: 1vw;
    caret-color: var(--def-white);
    transition: 500ms border;
    height: 4.5vw;
    font-size: 2vw;

    @media (max-width: 1024px) {
        height: 13vw;
        font-size: 6vw;
        border-radius: 2vw;
        padding: 2vw;
    }
}

.clarify-input:hover,
.clarify-input:focus {
    outline: none;
    border: 0.1vw solid var(--def-btn);
}

.clarify-input:disabled {
    cursor: not-allowed;
    border: 0.1vw solid  var(--del-btn);
}

.clarify-inputnull {
    font-size: 1.5vw;
    display: flex;
    color: var(--del-btn-hvr);
    padding: 1vw 0vw 0vw 1vw;
}

.clarify-color {
    padding-bottom: 1.25vw;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: 1vw;

    @media (max-width: 1024px) {
        gap: 3vw;
    }
}

.clarify-color-title {

    @media (max-width: 1024px) {
        font-size: 7vw;
    }
}

.clarify-colors {
    display: grid;
    grid-template-columns: repeat(5, 15%);
    justify-items: center;
    gap: 2.5vw;
    transition: 300ms opacity, 300ms filter;
    border-bottom: 0.1vw solid var(--blck-bc-hvr);
    padding: 0.5vw 1vw 1vw 1.25vw;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.color-element:nth-child(n+10) {

    @media (max-width: 1024px) {
        display: none;
    }
}

.--disabled {
    opacity: 0.75;
    filter: grayscale(0.6) saturate(0.8);
    cursor: not-allowed !important;
}

.--disabled:hover,
.--disabled:focus {
    /* border-color: var(--del-btn); */
}

.color-element {
    background-color: var(--color-value);
    width: 7vw;
    height: 7vw;
    border-radius: 2vw;
    position: relative;
    border: 0.25vw solid transparent;
    transition: 500ms border, 500ms transform;
    cursor: pointer;

    @media (max-width: 1024px) {
        width: 25vw;
        height: 25vw;
        border-radius: 25%;
    }
}

.color-element:hover,
.color-element:focus {
    outline: none;
    transform: scale(1.1);
}

.color-element:has(.color-radio:disabled) {
    cursor: not-allowed;
}

.color-element:hover:has(.color-radio:disabled),
.color-element:focus:has(.color-radio:disabled) {
    transform: none;
}

.color-element:after {
    content: '';
    position: absolute;
    inset: -0.90vw;
    border: 0.5vw solid var(--def-btn);
    border-radius: 2.5vw;
    opacity: 0;
    transition: opacity 500ms;

    @media (max-width: 1024px) {
        inset: -1.5vw;
        border: 1vw solid var(--def-btn);
        border-radius: 25%;
    }
}

.color-element:has(input[type='radio']:checked):after {
    opacity: 1;
}

.clarify-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1vw;

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 3vw;
        padding-bottom: 2vw;
    }
}

.clarify-cancel {
    border: 0.1vw solid transparent;
    color: var(--def-white);
    background-color: var(--blck-bc-hvr);
    font-size: 1.5vw;
    text-transform: capitalize;
    border-radius: 1vw;
    padding: 1vw;
    gap: 0.5vw;
    display: flex;
    align-items: center;
    transition: 500ms border, 500ms background-color;
    width: 100%;
    justify-content: center;

    @media (max-width: 1024px) {
        border: 1vw solid transparent;
        width: 100%;
        border-radius: 3vw;
        height: 10vw;
        font-size: 5vw;
    }
}

.clarify-cancel:hover,
.clarify-cancel:focus {
    background-color: var(--blck-bc-hvr);
    outline: none;
    border: 0.1vw solid var(--blck-bc-fcs);

    @media (max-width: 1024px) {
        border: 1vw solid var(--blck-bc-fcs);
    }
}

.clarify-action {
    border: 0.1vw solid transparent;
    color: var(--def-white);
    background-color: var(--btn-bg);
    font-size: 1.5vw;
    text-transform: capitalize;
    border-radius: 1vw;
    padding: 1vw;
    gap: 0.5vw;
    display: flex;
    align-items: center;
    transition: 300ms border, 300ms background-color;
    width: 100%;
    justify-content: center;

    @media (max-width: 1024px) {
        border: 0.1vw solid transparent;
        width: 100%;
        border-radius: 3vw;
        height: 10vw;
        font-size: 5vw;
    }
}

.clarify-action:hover,
.clarify-action:focus {
    transition: 300ms border, 300ms background-color;
    background-color: var(--btn-bg-hvr);
    outline: none;
    border: 0.1vw solid var(--blck-bc-fcs);

    @media (max-width: 1024px) {
        border: 1vw solid var(--blck-bc-fcs);
    }
}

.clarify-action-disabled {
    cursor: not-allowed;
    background-color: var(--blck-bc-fcs);
}

.clarify-custom-color {
    position: relative;
    border: 0.1vw solid transparent;
    color: var(--def-white);
    background-color: var(--def-btn);
    font-size: 1.5vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    transition: 300ms border, 300ms background-color;
    width: 100%;
    justify-content: center;
    margin-bottom: 1vw;

    @media (max-width: 1024px) {
        border: 0.1vw solid transparent;
        width: 100%;
        border-radius: 3vw;
        height: 10vw;
        font-size: 5vw;
    }
}

.clarify-custom-color:hover,
.clarify-custom-color:focus {
    transition: 300ms border, 300ms background-color;
    background-color: var(--def-btn-hvr);
    outline: none;
    border: 0.1vw solid var(--blck-bc-fcs);

    @media (max-width: 1024px) {
        border: 1vw solid var(--blck-bc-fcs);
    }
}

.clarify-custom-color:disabled {
    cursor: not-allowed;
    background-color: var(--blck-bc-fcs);
}

.clarify-custom-arrow {
    position: absolute;
    right: 0;
    transition: transform 300ms, 300ms border;
    transform: rotate(var(--arrow-direction));
    border-radius: 25%;
    padding: 1vw;
    border: 0.1vw solid transparent;
}

.clarify-custom-arrow:hover,
.clarify-custom-arrow:focus {
    border: 0.1vw solid var(--def-btn);
    outline: none;
}

.clarify-custom-title {
    display: grid;
    place-items: center;
    font-size: 1.5vw;
    padding-top: 1vw;
    border-top: 0.1vw solid var(--blck-bc-hvr);

    @media (max-width: 1024px) {
        margin-top: 1.5vw;
        font-size: 7vw;
        padding: 4vw 0vw;
        margin-top: 3vw;
    }
}

.rcp-root {
    background-color: var(--blck-bc) !important;
    border: 1px solid var(--blck-bc) !important;
    border-radius: 1vw !important;
    gap: 2vw !important;
    display: flex !important;
    flex-direction: column !important;

    @media (max-width: 1024px) {
        gap: 4vw !important;
    }
}

.rcp-interactive {
    padding: 1vw !important;

    @media (max-width: 1024px) {
        padding: 0vw 3vw !important;
    }
}

.rcp-body {
    border-bottom: 0.1vw solid var(--blck-bc-hvr) !important;
    margin-bottom: 1vw !important;
    padding: 0 !important;
    padding-bottom: 2vw !important;

    @media (max-width: 1024px) {
        gap: 3vw !important;
    }
}

.rcp-section {
    gap: 2vw !important;

    @media (max-width: 1024px) {
        gap: 3.5vw !important;
        padding-bottom: 5vw !important;
        border-bottom: 0.1vw solid var(--blck-bc-hvr) !important;
    }
}

.rcp-fields {
    display: flex !important;
    flex-direction: column !important;
    gap: 1vw !important;

    @media (max-width: 1024px) {
        gap: 3vw !important;
    }
}

.rcp-fields-floor {
    display: flex !important;
    gap: 1vw !important;
    
    @media (max-width: 1024px) {
        display: grid !important;
        gap: 2vw !important;
    }
}

.rcp-field {
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
    gap: 1vw !important;
    width: 100% !important;
    
    @media (max-width: 1024px) {
        gap: 3vw !important;
    }
}

.rcp-field-label {
    color: var(--def-white) !important;
    font-size: 1.5vw !important;

    @media (max-width: 1024px) {
        font-size: 6vw !important;
    }
}

.rcp-hue {

    @media (max-width: 1024px) {
        margin-bottom: 3vw;
    }
}

.rcp-field-input {
    text-align: center !important;
    width: 100% !important;
    background-color: var(--blck-bc-hvr) !important;
    color: var(--def-white) !important;
    border: 0.1vw solid transparent !important;
    outline: none !important;
    padding: 1vw !important;
    border-radius: 1vw !important;
    caret-color: var(--def-white) !important;
    transition: 500ms border !important;
    height: 4.5vw !important;
    font-size: 2vw !important;

    @media (max-width: 1024px) {
        height: 13vw !important;
        font-size: 6vw !important;
        border-radius: 2vw !important;
        padding: 2vw !important;
    }
}

.rcp-field-input:hover,
.rcp-field-input:focus {
    outline: none !important;
    border: 0.1vw solid var(--def-btn) !important;
}

.rcp-field-input:disabled {
    cursor: not-allowed !important;
    border: 0.1vw solid  var(--del-btn) !important;
}

.clarify-custom-save {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 0vw 0vw 1vw;
}

.save-checkbox {
    border: 0.1vw solid gray;
    border-radius: 0.25vw;
    width: 3.25vw;
    height: 3.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms border;

    @media (max-width: 768px) {
        border-radius: 2vw;
        width: 10vw;
        height: 10vw;
    }
}

.save-checkbox:focus {
    border: 0.1vw solid white;
    outline: none
}

.clarify-custom-save:hover .save-checkbox {
    border: 0.1vw solid white;
}

.save-checkbox-icon {
    transition: opacity 300ms;
    width: 2.25vw;
    height: 2.25vw;
    opacity: var(--opacity);

    @media (max-width: 768px) {
        width: 7vw;
        height: 8vw;
    }
}

.custom-save-title {
    font-size: 1.5vw;
    color: #6e6e79;
    padding: 0.5vw 0vw;

    @media (max-width: 768px) {
        font-size: 5vw;
    }
}