.share-main {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    backdrop-filter: blur(0px);
    background: rgba(0, 0, 0, 0);
    transition: opacity 300ms, backdrop-filter 300ms, transform 300ms;
    transform: scale(0.5);
    pointer-events: none;
    z-index: 2;

    @media (max-width: 1024px) {
        align-items: flex-start;
        overflow-y: auto;
    }
}

.share-main.visible {
    opacity: 1;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    transform: scale(1);
    pointer-events: auto;
}

.share-header {
    background-color: var(--blck-bc);
    padding: 1vw 1.25vw 2vw 1.75vw;
    border-radius: 2vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
    gap: 1vw;

    @media (max-width: 1024px) {
        -webkit-overflow-scrolling: touch;
        width: 95%;
        gap: 3vw;
        max-height: 90vh;
        overflow-y: auto;
        margin: auto 0;
        border-radius: 3vw;
    }
}

.share-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1024px) {
        padding: 1vw 1vw 0vw;
    }
}

.share-title {
    margin: 0;
    font-size: 2vw;

    @media (max-width: 1024px) {
        font-size: 9vw;
    }
}

.share-close {
    transition: 300ms border;
    border-radius: 25%;
    padding: 0.5vw;
    border: 0.1vw solid transparent;
    transition: 300ms border;
    display: flex;

    @media (max-width: 1024px) {
        width: 8vw;
        height: 8vw;
    }
}

.share-close:hover,
.share-close:focus {
    border-radius: 25%;
    border: 0.1vw solid var(--def-btn);
    outline: none;
}

.share-desc {
    margin: 0;
    color: var(--blck-bc-fcs);

    @media (max-width: 1024px) {
        font-size: 6vw;
    }
}

.share-label {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    @media (max-width: 1024px) {
        gap: 1vw;
    }
}

.share-label-title {
    padding: 0vw 0vw 1vw;
    font-size: 1.5vw;

    @media (max-width: 1024px) {
        font-size: 7vw;
    }
}

.share-category-select {
    position: relative;
    width: 100%;
    background-color: var(--blck-bc-hvr);
    color: var(--def-white);
    border: 0.1vw solid transparent;
    outline: none;
    border-radius: 1vw;
    transition: 300ms border;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0vw 0vw 0vw 1vw;
    font-size: 1.5vw;


    @media (max-width: 1024px) {
        border-radius: 3vw;
        height: 10vw;
        font-size: 5vw;
    }
}

.share-category-select:focus,
.share-category-select:hover {
    outline: none;
    border: 0.1vw solid var(--def-btn);
}

.share-category-label:hover .share-category-select,
.share-category-label:focus-within .share-category-select {
    outline: none;
    border: 0.1vw solid var(--def-btn);
}

.share-category-arrow {
    transition: transform 300ms, 300ms border;
    transform: rotate(var(--arrow-direction));
    border-radius: 25%;
    padding: 1vw;
}

.share-select-list {
    z-index: 1;
    transition: 300ms border, 300ms background-color, 300ms opacity, pading 300ms;
    background-color: var(--select-background);
    border: var(--select-border);
    padding: 1vw;
    border-radius: 1vw;
    width: 100%;
    opacity: var(--opacity);
}

.share-select-option {
    padding: 0.4vw 0.5vw;
    border-radius: 1vw;
    transition: background-color 300ms, border-radius 300ms;
}

.share-select-option:hover,
.share-select-option:focus {
    outline: none;
    background-color: var(--def-white);
    border-radius: 0.5vw;
}

.share-button {
    background-color: var(--def-btn);
    border: 0.25vw solid transparent;
    border-radius: 1vw;
    font-size: 1.75vw;
    padding: 0 1vw;
    transition: 300ms background-color, 300ms border;
    min-height: 4vw;
    width: 100%;

    @media (max-width: 1024px) {
        border-radius: 3vw;
        height: 10vw;
        font-size: 5vw;
    }
}

.share-button:hover,
.share-button:focus {
    background-color: var(--def-btn-hvr);
    outline: none;
    border: 0.1vw solid var(--blck-bc-fcs);
}