button {
    transition: 300ms border;
}

.profile-change-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1024px) {
        align-items: center;
    }
}

.profile-password-title {
    color: var(--blck-bc-fcs);
    font-size: 1.75vw;
    margin: 0;
    padding: 1vw 0vw;
    text-wrap: nowrap;

    @media (max-width: 1024px) {
        font-size: 6vw;
        padding: 2vw 0vw;
    }
}

.profile-password-input {
    border: 0.1vw solid var(--blck-bc-hvr);
    height: 4vw;
    border-radius: 1vw;
    background-color: var(--blck-bc);
    width: 100%;
    transition: 300ms border;
    color: white;
    padding: 0vw 0.75vw;
    font-size: 2vw;

    @media (max-width: 1024px) {
        height: 10vw;
        font-size: 5vw;
        border-radius: 3vw;
        padding: 0vw 2vw;
    }
}

.profile-password-input:focus {
    transition: 300ms background-color, 300ms border;
    border: 0.1vw solid var(--def-btn);
    outline: none;
}

.profile-password-input:hover {
    border: 0.1vw solid var(--def-btn);
}

.profile-password-legit {
    color: var(--del-btn-hvr);
    margin: 0;
    font-size: 1.5vw;
    padding: 1vw 0vw 0vw;

    @media (max-width: 1024px) {
        font-size: 4.5vw;
    }
}

.profile-password-save {
    font-size: 1.5vw;
    height: 4vw;
    width: 100%;
    background-color: var(--def-btn);
    border: 0.25vw solid var(--blck-bc-hvr);
    border-radius: 1vw;
    color: var(--blck-bc);
    transition: 300ms border, 300ms background-color;
    text-transform: capitalize;
    margin: 1vw 0vw;

    @media (max-width: 1024px) {
        border: 1vw solid var(--blck-bc-hvr);
        width: 100%;
        border-radius: 3vw;
        height: 12vw;
        font-size: 5vw;
        margin: 4vw 0vw;
    }
}

.profile-password-save:hover,
.profile-password-save:focus {
    transition: 300ms border, 300ms background-color;
    outline: none;
    background-color: var(--def-btn-hvr);
}

.profile-password-save:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(1);
}

button {
    cursor: pointer;
    transition: 300ms background-color, 300ms border;
}

button:focus {
    transition: 300ms background-color, 300ms border;
    outline: none;
    border: 0.25vw solid var(--blck-bc-fcs);

    @media (max-width: 1024px) {
        border: 1vw solid var(--blck-bc-fcs);
    }
}