input[type=checkbox] {
    display: none;
}

.notes-top,
.search-settings,
.select-element {
    display: flex;
    align-items: center;
}

.notes-top,
.search-settings {
    justify-content: space-between;
    padding-bottom: 1.5vw;

    @media (max-width: 1024px) {
        padding-bottom: 3vw;
    }
}

.notes-top,
.search-settings,
.notes-table {
    flex-shrink: 0;
}

.notes-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    min-height: 0;
}

.notes-title {
    margin: 0;
    padding: 0vw 0.5vw 0vw 0vw;

    @media (max-width: 1024px) {
        padding: 0 2vw 0 0;
        font-size: 8vw;
        text-wrap: nowrap;
    }
}

.notes-top-group {
    display: flex;
    align-items: center;
}

.notes-error-text {
    color: var(--del-btn-hvr);
    text-wrap: nowrap;
    font-size: 2vw;
    padding: 0 0 0 1vw;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unauthorized-user-icon {
    height: 2vw;
    width: 2vw;
    cursor: pointer;
    padding: 0.75vw;
    border-radius: 50%;
    display: flex;
    border: 0.1vw solid transparent;
    transition: 300ms border;
    color: var(--blck-bc-fcs);
}

.notes-new {
    display: flex;
    align-items: center;
    color: black;
    background-color: #5ea500;
    border: 0.25vw solid transparent;
    border-radius: 1vw;
    height: 4vw;
    font-size: 1.75vw;
    padding: 0 1vw;
    transition: 300ms background-color, 300ms border, 300ms filter, 300ms opacity;

    @media (max-width: 1024px) {
        font-size: 6vw;
        padding: 1vw 2vw;
        border-radius: 2vw;
        height: 10vw;
        text-wrap: nowrap;
    }
}

.--new-disabled {
    background-color: var(--del-btn);
    opacity: 0.75;
    filter: grayscale(0.6) saturate(0.8);
    cursor: not-allowed !important;
}

.notes-new:hover,
.notes-new:focus {
    background-color: #3b6800;
    outline: none;
    border: 0.25vw solid #8A2BE2;
}

.--new-disabled:hover,
.--new-disabled:focus {
    background-color: var(--del-btn-hvr);
    outline: none;
    border: 0.25vw solid transparent;
}

.search-settings {

    @media (max-width: 1024px) {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr 1fr 0.8fr;
        gap: 3vw;
    }
}

.input-group {
    border: 0.1vw solid #364153;
    border-radius: 1vw;
    padding: 1vw 0;
    background-color: #1f1f1f;
    font-size: 1.75vw;
    transition: border 300ms, opacity 300ms, filter 300ms;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    @media (max-width: 1024px) {
        height: 10vw;
        font-size: 5vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        grid-row: 1;
        grid-column: 1 / 5;
        border-radius: 3vw;
    }
}

.input-group:focus-within,
.input-group:hover {
    border-color: #5ea500;
}

.search-input {
    caret-color: blueviolet;
    border: 0.1vw solid transparent;
    background-color: #1f1f1f;
    font-size: 1.75vw;
    height: 2vw;
    outline: none;
    box-shadow: none;
    text-overflow: ellipsis;

    @media (max-width: 1024px) {
        font-size: 5vw;
        height: 9vw;
        color: white;
    }
}

.search-input::placeholder {
    color: #6a7282;
}

.search-hotkeys {
    font-size: 2vw;
    position: absolute;
    right: 3%;
    top: 15%;

    @media (max-width: 1024px) {
        display: none;
    }
}

.search-icon {
    padding: 0 1vw;
}

.select-element {
    justify-content: space-between;
    white-space: nowrap;
    font-size: 1.75vw;
    padding: 1vw;
    border: 0.1vw solid #364153;
    border-radius: 1vw;
    background-color: #1f1f1f;
    color: #6a7282;
    position: relative;
    transition: border 300ms, opacity 300ms, filter 300ms, pading 300ms, max-width 300ms;
    min-width: 25%;
    text-wrap: nowrap;
    display: flex;

    @media (max-width: 1024px) {
        grid-row: 2;
        grid-column: 1 / 5;
        border-radius: 3vw;
        height: 10vw;
        font-size: 5vw;
        min-width: 100%;
    }
}

.--mobile {
    grid-row: 3;
    grid-column: 1 / 4;
}

.select-element:focus-within,
.select-element:hover {
    outline: none;
    box-shadow: none;
    border-color: #5ea500;
}

.select-head {
    margin: 0;
    display: inline-block;
    width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.select-buttons {
    display: flex;
}

.cancel-select {
    transition: opacity 300ms, border 300ms, max-width 300ms;
    opacity: var(--opacity);
    border: 0.1vw solid transparent;
    border-radius: 25%;

    @media (max-width: 1024px) {
        max-width: auto;
    }
}

.cancel-select:hover,
.cancel-select:focus {
    border: 0.1vw solid var(--def-btn);
    outline: none;
    border: 0.1vw solid transparent;
}

.select-icon {
    transition: transform 300ms, border 300ms;
    transform: rotate(var(--arrow-direction));
    border: 0.1vw solid transparent;
    border-radius: 25%;
}

.select-icon:hover,
.select-icon:focus {
    outline: none;
    border-radius: 0.5vw;
    border: 0.1vw solid transparent;
}

.select-list {
    z-index: 1;
    transition: 300ms border, 300ms background-color, 300ms opacity, pading 300ms;
    background-color: var(--select-background);
    border: var(--select-border);
    padding: 1vw;
    border-radius: 1vw;
    width: 100%;
    opacity: var(--opacity);
}

.select-option {
    padding: 0.4vw 0.5vw;
    border-radius: 1vw;
    transition: background-color 300ms, border-radius 300ms;
    text-overflow: ellipsis;
    overflow: hidden;
}

.select-option:hover,
.select-option:focus {
    outline: none;
    background-color: white;
    border-radius: 0.5vw;
}

.notes-view {
    height: 4vw;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1vw 0.75vw;
    border: 0.1vw solid #364153;
    border-radius: 1vw;
    background-color: #1f1f1f;
    color: #6a7282;
    transition: border 300ms;
    z-index: 0;
    transition: border 300ms, opacity 300ms, filter 300ms, background-color 300ms;

    @media (max-width: 1024px) {
        grid-row: 3;
        grid-column: 4 / 5;
        border-radius: 3vw;
        height: 10vw;
        font-size: 5vw;
    }
}

.notes-view:after {
    content: '';
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 10%;
    width: 3vw;
    height: 3vw;
    background-color: #5ea500;
    border-radius: 0.75vw;
    transition: left 300ms;
    z-index: 0;
    transition: background-color 300ms, left 300ms;
    
    @media (max-width: 1024px) {
        padding: 0;
        width: 8vw;
        height: 8vw;
        border-radius: 1.5vw;
        left: 5.5%;
    }
}

.notes-view:has(input:checked)::after {
    left: 50%;
}

.notes-view:has(.--blocked)::after {
    background-color: var(--del-btn);
}

.notes-view .view-icon {
    position: relative;
    z-index: 1;
    border-radius: 1vw;
    padding: 0.5vw;
    width: 2vw;
    height: 2vw;
    border: 0.1vw solid transparent;
    transition: border 300ms;

    @media (max-width: 1024px) {
        height: 7vw;
        width: 7vw;
    }
}

.view-icon:focus-within,
.view-icon:hover {
    outline: none;
    box-shadow: none;
    border-color: #5ea500;
}

.--blocked:hover,
.--blocked:focus-within {
    border-color: var(--del-btn) !important;
}

.notes-main:has(input:checked) .pop-up-enter-done {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.notes-list {
    transition: margin 300ms;
    display: flex;
    flex-direction: row;
    /* gap: 1vw; */
    flex-wrap: wrap;
    width: 100%;
    padding: 0vw 0vw 1vw;
    min-height: 0;

    @media (max-width: 1024px) {
        padding: 0;
    }
}

.notes-list {
    display: flex;
    flex-wrap: wrap;
}

.notes-list > * {
    margin: 0 1vw 1vw 0;
}

@media (max-width: 1024px) {
    .notes-list > * {
        margin: 0 3vw 3vw 0;
    }
}

.notes-main > .slideDown-enter-done,
.notes-main > .slideDown-exit-active,
.notes-main > .slideDown-exit,
.notes-main > .slideDown-enter,
.notes-main > .slideDown-enter-active {
    overflow-y: auto !important;
    scrollbar-gutter: stable;
    flex: 1 1 auto;
    min-height: 0;
}

.notes-table {
    color: #6a7282;
    display: flex;
    justify-content: space-between;
    transition: padding 300ms;
    font-size: 1.75vw;
    padding: 0 1vw 1vw 1vw;
    display: none;

    @media (max-width: 1024px) {
        display: none;
    }
}