input[type=checkbox] {
    display: none;
}

.notes-top,
.search-settings,
.select-element {
    display: flex;
    align-items: center;
}

.notes-top,
.search-settings {
    justify-content: space-between;
    padding-bottom: 1.5vw;

    @media (max-width: 1024px) {
        padding-bottom: 3vw;
    }
}

.notes-top,
.search-settings,
.notes-table {
    flex-shrink: 0;
}

.notes-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    min-height: 0;
}

.notes-title {
    margin: 0;
    padding: 0vw 0.5vw 0vw 0vw;

    @media (max-width: 1024px) {
        padding: 0 2vw 0 0;
        font-size: 8vw;
        text-wrap: nowrap;
    }
}

.notes-top-group {
    display: flex;
    align-items: center;
}

.notes-error-text {
    color: var(--del-btn-hvr);
    text-wrap: nowrap;
    font-size: 2vw;
    padding: 0 0 0 1vw;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unauthorized-user-icon {
    height: 2vw;
    width: 2vw;
    cursor: pointer;
    padding: 0.75vw;
    border-radius: 50%;
    display: flex;
    border: 0.1vw solid transparent;
    transition: 300ms border;
    color: var(--blck-bc-fcs);

    @media (max-width: 1024px) {
        height: 8vw;
        width: 8vw;
    }
}

.notes-new {
    display: flex;
    align-items: center;
    color: black;
    background-color: #5ea500;
    border: 0.25vw solid transparent;
    border-radius: 1vw;
    height: 4vw;
    font-size: 1.75vw;
    padding: 0 1vw;
    transition: 300ms background-color, 300ms border, 300ms filter, 300ms opacity;

    @media (max-width: 1024px) {
        font-size: 6vw;
        padding: 1vw 2vw;
        border-radius: 2vw;
        height: 10vw;
        text-wrap: nowrap;
    }
}

.--new-disabled {
    background-color: var(--del-btn);
    opacity: 0.75;
    filter: grayscale(0.6) saturate(0.8);
    cursor: not-allowed !important;
}

.notes-new:hover,
.notes-new:focus {
    background-color: #3b6800;
    outline: none;
    border: 0.25vw solid #8A2BE2;
}

.--new-disabled:hover,
.--new-disabled:focus {
    background-color: var(--del-btn-hvr);
    outline: none;
    border: 0.25vw solid transparent;
}

.search-settings {

    @media (max-width: 1024px) {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 70% 0;
        gap: 3vw;
    }
}

.input-group {
    height: 4vw;
    border: 0.1vw solid #364153;
    border-radius: 1vw;
    padding: 1vw 0;
    background-color: #1f1f1f;
    font-size: 1.75vw;
    transition: border 300ms, opacity 300ms, filter 300ms;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover,
    &:focus-within {
        border-color: #5ea500;
    }

    @media (max-width: 1024px) {
        height: 10vw;
        font-size: 6vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        grid-row: 1;
        grid-column: 1 / 5;
        border-radius: 3vw;
        transition: 300ms height;

        &:focus-within {
            height: 14vw;
        }
    }
}

.search-input {
    caret-color: blueviolet;
    border: 0.1vw solid transparent;
    background-color: #1f1f1f;
    font-size: 1.75vw;
    height: 2vw;
    outline: none;
    box-shadow: none;
    text-overflow: ellipsis;
    color: white;

    @media (max-width: 1024px) {
        font-size: 5vw;
        height: 9vw;
    }
}

.search-input::placeholder {
    color: #6a7282;
}

.search-hotkeys {
    font-size: 2vw;
    position: absolute;
    right: 3%;
    top: 15%;

    @media (max-width: 1024px) {
        display: none;
    }
}

.search-icon {
    padding: 0 1vw;
}

.notes-select {
    display: flex;
    align-items: center;
    --rac-arrow-padding: 0;
    --rac-duration: 300ms;
    --rac-select-color: #6a7282;
    --rac-select-height: 4vw;
    --rac-select-padding: 0.5vw 1vw;
    --rac-list-background: #1f1f1f;
    --rac-scroll-color: var(--blck-bc-hvr);
    --rac-scroll-track: var(--blck-bc);
    --rac-arrow-height: 1.75vw;
    --rac-arrow-width: 1.75vw;
    --rac-cancel-height: 1.75vw;
    --rac-cancel-width: 1.75vw;
    font-size: 1.75vw;
    white-space: nowrap;
    --rac-select-border: 0.1vw solid #364153;
    border-radius: 1vw;
    --rac-select-background: #1f1f1f;
    min-width: 28%;

    --rac-option-hover: #777;
    --rac-option-highlight: #606060;
    --rac-option-selected: #4a4a4a;

    &:hover,
    &:focus {
        outline: none;
        border: 0.1vw solid #5ea500;
    }

    @media (max-width: 1024px) {
        --rac-arrow-height: 6.5vw;
        --rac-arrow-width: 6.5vw;
        --rac-select-height: 10vw;
        --rac-cancel-height: 6.5vw;
        --rac-cancel-width: 6.5vw;
        grid-row: 2;
        grid-column: 1 / 5;
        border-radius: 3vw;
        font-size: 5vw;
    }
}

.--mobile {
    grid-row: 3;
    grid-column: 1 / 4;
}

.rac-select-title {
    margin: 0;
    display: inline-flex;
    width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: 300ms color;

    @media (max-width: 1024px) {
        padding-left: 1vw;
    }
}

.rac-select-list {
    max-height: 350px;
    color: var(--def-white);
    padding: 1vw;
    border-radius: 1vw;
}

.rac-select-option {
    padding: 0.4vw 0.5vw;
    border-radius: 1vw;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notes-view {
    height: 4vw;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1vw 0.75vw;
    border: 0.1vw solid #364153;
    border-radius: 1vw;
    background-color: #1f1f1f;
    color: #6a7282;
    transition: border 300ms;
    z-index: 0;
    transition: border 300ms, opacity 300ms, filter 300ms, background-color 300ms;

    @media (max-width: 1024px) {
        grid-row: 3;
        grid-column: 4 / 5;
        border-radius: 3vw;
        height: 10vw;
        font-size: 5vw;
    }
}

.notes-view:after {
    content: '';
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 10%;
    width: 3vw;
    height: 3vw;
    background-color: #5ea500;
    border-radius: 0.75vw;
    transition: left 300ms;
    z-index: 0;
    transition: background-color 300ms, left 300ms;
    
    @media (max-width: 1024px) {
        padding: 0;
        width: 8vw;
        height: 8vw;
        border-radius: 1.5vw;
        left: 5.5%;
    }
}

.notes-view:has(input:checked)::after {
    left: 50%;
}

.notes-view:has(.--blocked)::after {
    background-color: var(--del-btn);
}

.notes-view .view-icon {
    position: relative;
    z-index: 1;
    border-radius: 1vw;
    padding: 0.5vw;
    width: 2vw;
    height: 2vw;
    border: 0.1vw solid transparent;
    transition: border 300ms;

    @media (max-width: 1024px) {
        height: 7vw;
        width: 7vw;
    }
}

.view-icon:focus-within,
.view-icon:hover {
    outline: none;
    box-shadow: none;
    border-color: #5ea500;
}

.--blocked:hover,
.--blocked:focus-within {
    border-color: var(--del-btn) !important;
}

.notes-list {
    transition: margin 300ms;
    display: flex;
    flex-direction: row;
    /* gap: 1vw; */
    flex-wrap: wrap;
    width: 100%;
    min-height: 0;
    overflow: hidden;

    @media (max-width: 1024px) {
        padding: 0;
    }
}

.notes-list > * {
    margin: 0 1vw 1vw 0;
}

@media (max-width: 1024px) {
    .notes-list > * {
        margin: 0 3vw 3vw 0;
    }
}

.notes-list .--listView {
    scrollbar-gutter: stable;
}

.notes-main > .slideDown-enter-done,
.notes-main > .slideDown-exit-active,
.notes-main > .slideDown-exit,
.notes-main > .slideDown-enter,
.notes-main > .slideDown-enter-active {
    overflow-y: auto !important;
    scrollbar-gutter: stable;
}

.notes-table {
    color: #6a7282;
    display: flex;
    justify-content: space-between;
    transition: padding 300ms;
    font-size: 1.75vw;
    padding: 0 1vw 1vw 1vw;
    display: none;

    @media (max-width: 1024px) {
        display: none;
    }
}