:root {
    --select-white: white;
    --select-almost-black: #252525ff;
    --select-active: #5ea500;
    --select-inactive: #e7000b;
    --select-black: #151515;
    scrollbar-width: thin;
    scrollbar-color: var(--select-almost-black) var(--select-black);
  }

.select {
    height: 4vw;
    position: relative;
    width: 100%;
    background-color: var(--select-almost-black);
    color: var(--select-white);
    border: 2px solid transparent;
    outline: none;
    border-radius: 1vw;
    caret-color: var(--select-white);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0vw 1vw;
    font-size: 1.5vw;
    transition: 300ms border-color, 300ms font-size;
    cursor: pointer;

    &:hover {
        border-color: var(--select-active)
    }

    @media (max-width: 1024px) {
        font-size: 6vw;
        height: 10vw;
        border-radius: 2vw;
        padding: 2vw;
    }
}

.loading-style,
.disabled-style {
    opacity: 0.75;
    filter: grayscale(0.6) saturate(0.8);
    cursor: not-allowed;
    transition: 300ms border, 300ms filter, 300ms opacity;
    cursor: wait;

    &:hover {
        border-color: var(--select-almost-black);
    }
}

.disabled-style {
    cursor: not-allowed;
}

.error-style {
    border-color: var(--select-inactive);
    cursor: help;

    &:hover {
        border-color: var(--select-inactive);
    }
}

.select-title {
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
        gap: 1vw;
    }
}

.loading-dots {
    display: inline-flex;
    gap: 5px;
    padding-left: 0.5vw;
    height: 100%;
    align-items: end;
    padding-bottom: 0.5%;
    transition: 300ms opacity;
}

.loading-dots i {
    width: 0.35vw;
    height: 0.35vw;
    background: currentColor;
    border-radius: 50%;
    animation: blink 1.4s infinite both;
    
    @media (max-width: 1024px) {
        width: 1vw;
        height: 1vw;
    }
}

.loading-dots i:nth-child(1) {animation-delay: 0s;}
.loading-dots i:nth-child(2) {animation-delay: .2s;}
.loading-dots i:nth-child(3) {animation-delay: .4s;}

.select-buttons {
    display: flex;
}

.select-cancel {
    transition: 300ms opacity, 300ms border;
    opacity: var(--opacity);
    
    border-radius: 10px;
    border: 2px solid transparent;

    &:hover {
        border: 2px solid var(--select-active);
    }
}

.select-arrow-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    transition: transform 300ms cubic-bezier(.4,0,.2,1);
    transform-origin: 50% 50%;
}

.select-arrow-wrapper.--open {
    transform: rotate(180deg);
}

.select-arrow {
    display: block;
    transform: translateZ(0);
}

.select-list {
    max-height: 220px;
    scrollbar-width: thin;
    scrollbar-color: var(--select-black) var(--select-almost-black);
    overflow-y: auto;
    scrollbar-gutter: stable;
    z-index: 1;
    transition: 300ms border, 300ms background-color, 300ms opacity, 300ms pading, 300ms height;
    background-color: var(--select-background);
    border: var(--select-border);
    padding: 1vw;
    border-radius: 1vw;
    width: 100%;
    opacity: var(--opacity);
}

.select-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.select-list::-webkit-scrollbar-track {
    background: var(--select-almost-black);
    border-radius: 3px;
}

.select-list::-webkit-scrollbar-thumb {
    background-color: var(--select-black);
    border-radius: 3px;
    border: 1px solid var(--select-almost-black);
}

.select-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--select-active);
}

.select-option {
    padding: 0.4vw 0.5vw;
    border-radius: 1vw;
    transition: background-color 300ms, border-radius 300ms, font-size 300ms, 300ms height;

    &:hover {
        background-color: var(--select-almost-black);
        border-radius: 0.5vw;
    }
}

.--disabled-option {
    cursor: not-allowed;
    color: gray;

    &:hover {
        background-color: var(--select-background);
    }
}

.--invalid-option {
    color: red;
}

.--true-option {
    color: #4caf50;
}

.--false-option {
    color: #f44336;
}